body{
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
}
// input{
//     width: 75%;
//     border-radius: 20px;
//     border: 0.3px solid rgba(#000, 0.4);
// }